@import "_variables_and_mixins.scss";

@include reset-browser;

body{
    max-width: 100vw;
    min-height: 100vh;
    .grid-container{
        background-color: $background;
        @include grid-template;
    
        @media screen and (max-width: 1280px){
            grid-template-columns: .5fr repeat(2, 1fr) 1fr;
        }
    
        @media screen and (max-width: 960px){
            @include grid-template-960;
            aside{
                display: none;
            }
        }
    
        @media screen and (max-width: 768px){
            @include grid-template-768;
            aside{
                display: none;
            }
        }
    
        nav{
            grid-area: navbar;
            background-color: $primary;
            border-right: 2px solid $auxiliar;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
    
            .navbar-options{
                flex: 0 1 10%;
                @include flex-center-center;
                color: #ffffff;
    
                &:hover{
                    background-color: $auxiliar;
                }    
            }
    
            @media screen and (max-width: 768px){
                flex-direction: unset;
                .navbar-options{
                    flex: 0 1 100%;
                }
            }
        }
    
        main{
            grid-area: main;    
            @include flex-center-center;
            flex-wrap: wrap;
    
            @for $i from 1 through 6{
                .card-#{$i}{
                    border: 10px solid darken($primary, $i * 5%);
                }
            } 
    
            .card{
                max-width: 20rem;
                padding: 1rem;
                margin: .25rem 1rem;
                border-radius: 1rem;
                
                img{
                    width: 100%;
                    border: 2px solid $secundary;
                    box-shadow: 2px 2px 5px;
                }
    
                .publication{
                    h2{
                        padding: .5rem 0;
                    }
    
                    .published{
                        text-align: right;
                        padding: 1rem 0;
                        
                        span{
                            color: $primary;
                        }
                    }
                }
    
                
                .actions{
                    
                    button{
                        width: 100%;
                        min-height: 3rem;
                        background-color: $primary;
                        color: $text-color;
                        border-radius: 10px;
                        border-style: none;
    
                        &:hover{
                            background-color: $auxiliar;
                        }
                    }
                }
            }
        }
    
        aside{
            grid-area: sidebar;
            padding: 1rem;
            section{
                p{
                    text-align: justify;
                }
    
                .writer{
                    text-align: end;
                    color:  $auxiliar;
                }
    
                img{
                    width: 100%;
                    margin: 1rem 0;
                    border-radius: 40% 0%;
                    box-shadow: 2px 2px 5px;
                }
            }
        }
    
        footer{
            grid-area: footer;
            background-color: $secundary;
            border-top: 2px solid $auxiliar;
            @include flex-center-center;
        }
    }
}
