@mixin reset-browser{
     *, *::after, *::before{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}

@mixin flex-between{
    display: flex;
    justify-content: space-between;
}

@mixin flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}