.container{
  p{
    text-align: center;
  }
  .img-galery-container{
    .selected-img{
      padding: 15px;
      margin: auto;
    }
    .img-pages{
      padding: 20px 0;
      align-items: center;
      .list{
       height: 100px;
       .img-container{
         max-width: 200px;
         margin: 0 5px;
       }
      }
    }
    .button-container{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      .button-pair{
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
